a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: #87CEFA; }

.nav-link {
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100px; }

.img-circle {
  border-radius: 50%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content-title > h1 {
  text-align: center; }

.footer {
  margin: 10px 0; }

.footer-nav {
  margin: 0 auto;
  width: 800px; }
  .footer-nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

.footer-nav li {
  float: left; }

.navbar {
  margin: 10px 0; }

.navbar-nav {
  border-bottom: 1.5px solid #000000;
  margin: 0 auto;
  width: 800px; }
  .navbar-nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

.navbar-nav li {
  float: left; }

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0; }

.content {
  font-size: 18px;
  margin: 0 auto;
  min-height: 600px;
  width: 800px; }

.content-home {
  text-align: center; }

.content-home__avator {
  height: 180px;
  margin: 30px auto;
  text-align: center;
  width: 180px; }

.grid-item {
  width: 200px;
  position: absolute;
  text-align: center; }

.grid-item-img {
  max-width: 100%; }
