@charset "UTF-8";
/* color variable */
/* font variable */
/* size variable */
/* <a> base styles */
a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: #ffa500; }

.nav-link {
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100px; }

/* <img> base styles */
.img-circle {
  border-radius: 50%; }

/* <ul> base styles */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content-title > h1 {
  text-align: center; }

.footer {
  margin: 10px 0; }

.footer-nav {
  border-top: 1.5px solid #000000;
  margin: 0 auto;
  width: 360px; }
  .footer-nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

@media only screen and (min-width: 768px) {
  .footer-nav {
    width: 600px; } }

@media only screen and (min-width: 1024px) {
  .footer-nav {
    width: 800px; } }

@media only screen and (min-width: 1456px) {
  .footer-nav {
    width: 800px; } }

.footer-nav li {
  float: left; }

.navbar {
  margin: 10px 0; }

.navbar-nav {
  border-bottom: 1.5px solid #000000;
  margin: 0 auto;
  width: 360px; }
  .navbar-nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

@media only screen and (min-width: 768px) {
  .navbar-nav {
    width: 600px; } }

@media only screen and (min-width: 1024px) {
  .navbar-nav {
    width: 800px; } }

@media only screen and (min-width: 1456px) {
  .navbar-nav {
    width: 800px; } }

.navbar-nav li {
  float: left; }

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0; }

.content {
  font-size: 18px;
  margin: 50px auto;
  min-height: 360px;
  width: 360px; }

@media only screen and (min-width: 768px) {
  .content {
    min-height: 560px;
    width: 600px; } }

@media only screen and (min-width: 1024px) {
  .content {
    min-height: 560px;
    width: 800px; } }

@media only screen and (min-width: 1456px) {
  .content {
    min-height: 560px;
    width: 800px; } }

.content-post {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif; }

.content-post ul {
  margin-left: 40px; }

.content-home {
  text-align: center; }

.content-home__avator {
  height: 160px;
  width: 160px; }

.content-home__content {
  font-size: 30px;
  margin-top: 70px; }

@media only screen and (max-width: 768px) {
  .content-home__content span {
    font-size: 20px; } }

.content-home__content-1 {
  color: #ff0000; }

.content-home__content-2 {
  color: #ffa500; }

.content-home__content-3 {
  color: #ffff00; }

.content-home__content-4 {
  color: #00ff00; }

.content-home__content-5 {
  color: #007fff; }

.content-home__content-6 {
  color: #0000ff; }

.content-home__content-7 {
  color: #8b00ff; }

.grid-item {
  width: 200px;
  position: absolute;
  text-align: center; }

.grid-item-img {
  max-width: 100%; }
