<div class="content-home">
	<img src="/resource/img/me.jpg" class="content-home__avator img-circle">
	<div class="content-home__content">
		<p>
			<span class="content-home__content-1">Hi,</span>
			<span class="content-home__content-2">I'm</span>
			<span class="content-home__content-3">Justin.</span>
			<span class="content-home__content-4">Welcome</span>
			<span class="content-home__content-5">to</span>
			<span class="content-home__content-6">my</span>
			<span class="content-home__content-7">space.</span>
		</p>
	</div>
</div>
