<div class="blurb">
	<div class="container">
		<img src="/img/me.jpg" class="avator img-circle">
		<p class="blurb-lead">Hi, I'm ZZY. That's me, that'ss me, that'sss me, that'ssss me, that'sssssss me. I'm focus on web frontend, welcome to contact with me.</p>
		<p class="blurb-lead">
			<a href="http://www.google.com" class="btn btn-outline-inverse btn-large">Google Google</a>
		</p>
		<div class="sign-link">
			<a href="#" class="link-large link-inverse">HTML</a>
			<a href="#" class="link-large link-inverse">CSS</a>
			<a href="#" class="link-large link-inverse">JAVASCRIPT</a>
		</div>
	</div>
</div>

<div class="gallery">
	<div class="container">
		<h2 class="gallery-lead">Here's some picture.</h2>
		<div class="gallery-picture"><img src="/img/intro.jpg"></div>
		<div class="gallery-picture"><img src="/img/intro.jpg"></div>
		<div class="gallery-picture"><img src="/img/intro.jpg"></div>
	</div>
</div>
