p img {
    width: 700px;
}

.content-post table img {
    width: 150px;
}

img[alt=gif1], img[alt=apng1] {
    background-color: $base-color-black;
}

img[alt=gif2], img[alt=apng2] {
    background-color: $base-color-white;
}

img[alt=gif3], img[alt=apng3] {
    background-color: $base-color-light-blue;
}

img[alt=gif4], img[alt=apng4] {
    background-color: $base-color-orange;
}

img[alt=gif5], img[alt=apng5] {
    background-color: $base-color-red;
}
