@import "base/color";
@import "base/font";
@import "base/a";
@import "base/button";
@import "base/image";
@import "base/ul";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
