.blog-content {}

.blog-content_title {
	padding: 60px 0;
	background-color: $base-color-blue;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
	color: $base-color-light-blue;
}

.blog-content_title h1 {
	font-size: 60px;
	font-weight: 500;
	color: $base-color-white;
}

.blog-content_posts {
	margin: 120px 0 240px;
	font-size: 24px;
	font-weight: 300;
	color: $base-color-blue;
}

.blog-content_posts p {
	margin: 0 auto 30px;
	font-size: 40px;
	font-weight: 400;
	color: $base-color-blue;
}
