.content-home {
	text-align: center
}

.content-home__avator {
	height: 160px;
	width: 160px;
}

.content-home__content {
	font-size: 30px;
	margin-top: 70px;
}

@media only screen and (max-width: 768px) {
	.content-home__content span {
		font-size: 20px;
	}
}
