.footer {
    margin: 10px 0;
}

.footer-nav {
    border-top: 1.5px solid $base-color-black;
    margin: 0 auto;
    width: $layout-width-small;

    &::after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

@media only screen and (min-width: 768px) {
	.footer-nav {
		width: $layout-width-medium;
	}
}

@media only screen and (min-width: 1024px) {
	.footer-nav {
		width: $layout-width-large;
	}
}

@media only screen and (min-width: 1456px) {
	.footer-nav {
		width: $layout-width-large;
	}
}

.footer-nav li {
    float: left;
}
