.navbar {
	margin: 10px 0;
}

.navbar-nav {
	border-bottom: 1.5px solid $base-color-black;
	margin: 0 auto;
	width: $layout-width-small;

	&::after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

@media only screen and (min-width: 768px) {
	.navbar-nav {
		width: $layout-width-medium;
	}
}

@media only screen and (min-width: 1024px) {
	.navbar-nav {
		width: $layout-width-large;
	}
}

@media only screen and (min-width: 1456px) {
	.navbar-nav {
		width: $layout-width-large;
	}
}

.navbar-nav li {
	float: left;
}
