.navbar {
	margin: 10px 0;
}

.navbar-nav {
	border-bottom: 1px solid $base-color-gray;
	margin: 0 auto;
	width: 800px;

	&::after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.navbar-nav li {
	float: left;
}
