body {
	background-color: $base-color-white;
	color: $base-color-black;
    font-family: $font-family-comic-sans-ms;
	font-size: $font-size-small;
	line-height: 1.42857143;
	margin: 0;
}

.content {
	font-size: $font-size-medium;
    margin: 0 auto;
    min-height: 600px;
    width: 800px;
}
