a {
	text-decoration: none;
}

.nav-link {
	color: $base-color-gray;
	display: inline-block;
	font-family: $font-family-tahoma;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100px;

	&:hover {
		color: $base-color-dark;
	}
}
