.btn {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
}

.btn-large {
	font-size: 20px;
	border-radius: 6px;
	padding: 15px 30px;
}

.btn-outline-inverse {
	color: $base-color-white;
	background-color: $base-color-blue;
	border-color: $base-color-light-blue;

	&:hover {
		color: $base-color-blue;
		background-color: $base-color-white;
		border-color: $base-color-white;
	}
}
