$main-color-orange: #f99d32;
$main-color-blue: #3832f9;
$main-color-light-blue: #32f2f9;

$base-color-blue: #27408B;
$base-color-dark: #2a2730;
$base-color-gray: gray;
$base-color-light-blue: #87CEFA;
$base-color-white: #ffffff;
$base-color-black: #000000;
$base-color-light-yellow: #efe4d0;
