/* <a> base styles */
a {
	color: inherit;
	text-decoration: none;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: $base-color-light-blue;
	}
}

.nav-link {
	display: inline-block;
	font-family: $font-family-tahoma;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100px;
}


/* <img> base styles */
.img-circle {
	border-radius: 50%;
}


/* <ul> base styles */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
