$font-family-comic-sans-ms: "Comic Sans MS", cursive, sans-serif;
$font-family-impact: Impact, Charcoal, sans-serif;
$font-family-tahoma: Tahoma, Geneva, sans-serif;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 22px;
