/* color variable */
$main-color-orange: #ffa500;
$main-color-purple: #cc00ff;
$main-color-blue: #006aff;

$rainbow-color-red:#ff0000;
$rainbow-color-orange:#ffa500;
$rainbow-color-yellow:#ffff00;
$rainbow-color-green:#00ff00;
$rainbow-color-blueness:#007fff;
$rainbow-color-blue:#0000ff;
$rainbow-color-purple:#8b00ff;

$base-color-blue: #27408B;
$base-color-dark: #2a2730;
$base-color-gray: gray;
$base-color-light-blue: #209afc;
$base-color-white: #ffffff;
$base-color-black: #000000;
$base-color-light-yellow: #efe4d0;
$base-color-orange: #ffa500;
$base-color-red: #ff0000;


/* font variable */
$font-family-default: "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
$font-family-tahoma: Tahoma, Geneva, sans-serif;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 22px;


/* size variable */
$layout-width-small: 360px;
$layout-width-medium: 600px;
$layout-width-large: 800px;
