---
layout: default
title: "Blog"
describe: "This is blog page, save some notes and demos."
---
<div class="content-blog">
	{% include content-title.html %}
	<div class="content-blog__posts">
		<p class="content-blog__posts-title">Blog List</p>
		<ul class="content-blog__posts-content">
			{% for post in site.posts %}
				<li>
					<span>{{ post.date | date_to_string }}</span> >> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
